/* === Base reset === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 100%;
  scroll-behavior: smooth;
  background-color: #ffffff;
  color: #4b4f58;
}

/* === Layout === */
body {
  font-size: 18px;
  line-height: 1.65em;
  font-weight: bold;
  background-image: url("images/clouds.png"), url("images/footer.png");
  background-repeat: repeat-x, no-repeat;
  background-position-y: 7rem, bottom;
  background-position-x: center, center;
  background-size: auto, contain;
  min-width: 300px;
}

body#home {
  background-image: url("images/clouds.png"), url("images/footer.png"), url("images/homepage-banner.png");
  background-repeat: repeat-x, no-repeat, no-repeat;
  background-position-y: 7rem, bottom, 9rem;
  background-position-x: center, center, center;
  background-size: auto, contain, 1300px;
}

/* === Headings === */
h1 {
  font-size: 2.5rem;
  color: #3a3a3a;
  margin-bottom: 0.8em;
  text-transform: uppercase;
  border-bottom-color: #000;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  line-height: 1.4em;
  text-wrap-mode: nowrap;
  width: 8rem;
}

h2 {
  font-size: 2.5rem;
  color: #83c7ce;
  margin-bottom: 0.8em;
  text-transform: uppercase;
  line-height: 1.3em;
}

h3 {
  font-size: 1.5rem;
  color: #83c7ce;
  margin-bottom: 0.4em;
  text-transform: uppercase;
  line-height: 1.3em;
}

h4 {
  font-size: 1.25rem;
  color: #3a3a3a;
  margin-bottom: 0.4em;
  line-height: 1.3em;
}

/* === Header and navigation === */
nav ul {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  column-gap: 2rem;
}

nav li {
  text-wrap-mode: nowrap;
  padding: 4rem 0;
  margin-bottom: 0;
}

header {
  background-color: #fff;
  padding: 0 1rem;
  font-weight: normal;
}

header nav {
  margin: 0 auto;
  max-width: 1300px;
  background-image: url("images/header-logo.png");
  background-repeat: no-repeat;
  background-size: 9rem;
  background-position: 1rem center;
  font-size: 1.2rem;
  height: 10rem;
  padding-right: 1rem;
}

header nav ul {
  justify-content: right;
}

header nav li {
  text-align: right;
}

header nav li:first-of-type {
  width: 100%;
}

header nav a {
  text-decoration: none;
  color: #4b4f58;
  display: block;
}

header nav li#current-nav-item a {
  color: #0170b9;
}

header nav a:hover {
  text-decoration: underline;
}

a#hamburger-menu {
  display: none;
}

/* === Themes === */
body.theme-yellow {
  background-color: #fdfbe6;
}

body.theme-orange {
  background-color: #ffedd5;
}

body.theme-pink {
  background-color: #f6e3ed;
}

body.theme-pink h2 {
  color: #e35594;
}

body.theme-blue {
  background-color: #eef6fa;
}

body.theme-green {
  background-color: #f1f5e4;
}

/* === Main content === */
main {
  padding: 5rem 0;
  margin: 0 auto;
  max-width: 1300px;
  overflow-wrap: break-word;
}

body#home main {
  padding-top: 19rem;
  padding-bottom: 0;
}

body#home h1 {
  display: none;
}

body#gallery h3 {
  text-align: center;
  margin: 2em 0 1em;
}

body#gallery main ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  column-gap: 1rem;
}

body#gallery main li {
  margin-bottom: 0;
}

body#imprint h2, body#privacy h2, body#imprint h3, body#privacy h3 {
  text-transform: none;
  color: #3a3a3a;
}

section {
  margin-bottom: 2rem;
}

section#hours {
  clear: both;
  background-color: #ebbe40;
  padding: 1.2rem;
  background-image: url("images/orange-cloud.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
  border-radius: 1rem;
}

section#hours h2 {
  color: #3a3a3a;
}

section#hours p {
  margin-bottom: 0;
}

section#hours dl {
  font-size: 1.5rem;
  line-height: normal;
  color: #3a3a3a;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: max-content auto;
  row-gap: 0.5em;
  column-gap: 1em;
}

section#hours dt {
  grid-column: 1;
}

section#hours dt::after {
  content: ":";
}

section#hours dd {
  grid-column: 2;
}

section#notices {
  background-color: #f9edbe;
  padding: 1rem 1.5rem;
  border-left: 0.4rem solid #f0c36d;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  border-radius: 0.4rem;
}

section#notices h2 {
  display: none;
}

section#notices p {
  text-align: center;
  margin-bottom: 0;
}

section#notices p[lang="de"] {
  font-style: italic;
}

section#welcome {
  float: left;
  background-color: #d5eaea;
  padding: 1.2rem;
  background-image: url("images/blue-cloud.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
  border-radius: 1rem;
  width: 34%;
}

section#welcome h2 {
  color: #3a3a3a;
  margin-bottom: 0;
  text-transform: none;
  font-size: 2rem;
}

section#welcome p {
  margin-bottom: 0;
  margin-top: 1.5rem
}

section#uniqueness {
  float: left;
  width: 66%;
  padding: 1.2rem;
  margin-bottom: 0;
}

section#uniqueness h2 {
  display: none;
}

section#uniqueness h3 {
  margin-top: 0.8em;
  color: #3a3a3a;
}

section#uniqueness p {
  margin-bottom: 0;
}

section#uniqueness ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
  list-style: none;
  padding: 0;
}

section#uniqueness li:nth-of-type(1)::before {
  content: url("images/icon-multicultural.png") / "Multicultural icon";
}

section#uniqueness li:nth-of-type(2)::before {
  content: url("images/icon-food.png") / "Food icon";
}

section#uniqueness li:nth-of-type(3)::before {
  content: url("images/icon-bus.png") / "Bus icon";
}

section#uniqueness li:nth-of-type(4)::before {
  content: url("images/icon-schedule.png") / "Schedule icon";
}

section#uniqueness li:nth-of-type(5)::before {
  content: url("images/icon-celebrations.png") / "Celebrations icon";
}

section#uniqueness li:nth-of-type(6)::before {
  content: url("images/icon-library.png") / "Library icon";
}

section#contact-address dl {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: max-content auto;
  row-gap: 0.5em;
  column-gap: 1em;
}

section#contact-address dt {
  grid-column: 1;
}

section#contact-address dt::after {
  content: ":";
}

section#contact-address dd {
  grid-column: 2;
}

section#contact-address {
  float: left;
  width: 34%;
}

section#location-map {
  float: left;
  width: 66%;
}

section#location-map img {
  width: 100%;
  height: 100%;
  margin-bottom: 8rem;
}

body#contact h2 {
  display: none;
}

body#contact footer {
  clear: both;
}

p {
  margin-bottom: 1.5rem;
}

img#page-logo {
  margin-bottom: 2.5rem;
}

address {
  font-style: normal;
  line-height: 1.5;
}

/* === Lists === */
main ul {
  padding-left: 1.5rem;
}

ul#teachers-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  list-style: none;
  margin: 2rem;
  padding-left: 0;
  text-align: center;
}

ul#fees-list {
  margin-bottom: 1.5rem;
}

dd, li {
  margin-bottom: 0.5rem;
}

dt {
  font-weight: bold;
}

/* === Links === */
a {
  color: #2a7abf;
}

a:hover {
  color: #1a5a8f;
}

a.skip-link {
  position: absolute;
  top: -3em;
  background: white;
}

a.skip-link:focus {
  top: 0;
}

/* === Footer === */
footer {
  background-color: #3a3a3a;
  font-size: 1rem;
  color: #fff;
  font-weight: normal;
  background-image: url("images/footer.png");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: cover;
  padding: 0 1rem;
}

footer nav ul {
  justify-content: center;
}

footer nav a {
  text-decoration: none;
  color: #fff;
}

footer nav a:hover {
  text-decoration: underline;
  color: #fff;
}

/* === Responsive === */
@media (max-width: 1300px) {
  main {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}

@media (max-width: 1000px) {
  main {
    padding-bottom: 0;
  }
  
  body#home main {
    padding-top: 33%;
  }

  nav li {
    padding: 0;
  }

  header {
    height: 9rem;
    background-image: url(images/header-logo.png);
    background-repeat: no-repeat;
    background-size: 9rem;
    background-position: 2rem center;
  }

  header.nav {
    padding-right: 0;
    margin-right: 0;
    border-radius: 0.4rem;
    background-image: none;
    height: auto;
    max-width: 30%;
  }

  header nav.hamburger-menu-expanded {
    background-color: #ccc;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  }
  
  header nav ul {
    display: none;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
  }
  
  header nav.hamburger-menu-expanded ul {
    display: flex;
  }

  header nav li:first-of-type {
    width: auto;
  }
  
  a#hamburger-menu {
    display: block;
    font-size: 4rem;
    padding: 0.5rem 1rem 1rem;
    text-align: right;
    margin-top: 1rem;
  }

  footer {
    background-size: contain;
  }
  
  footer nav ul {
    flex-direction: column;
    align-items: center;
    min-height: 10rem;
  }
}

@media (max-width: 866px) {
  body#home {
    background-size: auto, contain, 150%;
  }
  
  section#welcome, section#uniqueness, section#contact-address, section#location-map {
    float: none;
    width: 100%;
  }

  section#uniqueness {
    padding: 0;
  }

  section#uniqueness li {
    margin-bottom: 2rem;
  }
}

@media (max-width: 650px) {
  section#uniqueness ul, ul#teachers-list {
    display: block;
    text-align: inherit;
  }

  section#hours dl {
    display: block;
  }

  section#hours dd {
    margin-left: 1em;
  }
}
